.navWrapper {
	position: fixed;
	height: auto;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	background-color: rgba(255, 255, 255, 1);
	color: rgb(32, 32, 32);
	border-bottom: 1px solid rgb(200, 207, 231);
}
.navContainer {
	width: 100%;
	max-width: 1080px;
	height: auto;
	padding: 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logoContainer {
	display: flex;
	flex-direction: row;
	align-items:  center;
	gap: 20px;
}
.logo {
	height: 30px;
	width: 30px;
}
.logoTitle {
	font-size: 20px;
	margin: 0;
	cursor: pointer;
}
.menuContainer {
	display: flex;
	gap: 20px;
	font-weight: 500;
}
.resNavContainer{
	display: none;
}
.resHamburger {
	display: none;
}
@media only screen and (max-width: 600px) { 
	.menuContainer {
		display: none;
	}

	/*RSPONSIVE NAVBAR*/
	.resHamburger {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 20px;
		right: 20px;
		z-index: 3;
		cursor: pointer;
		transition: .5s;
	}
	.resHamburger:hover {
		transform: scale(1.05);
	}
	.resHamburger span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		border-radius: 3px;
		z-index: 3;
		transition: .2s;
	}
	.resNavContainer {
		display: flex;
		flex-direction: column;
		
		position: fixed;
		top: 70px;
		right: 10px;
		z-index: 3;

		background-color: #fff;
		padding: 25px;
		border-radius: 15px;
		box-shadow: -12px 12px 19px -3px rgba(0,0,0,0.15);

		font-size: 18px;
		font-weight: 500;

		transition: .5s;
	}
	.resMenuContainer {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}