.formContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 500px;
}
.formContainer > h1 {
	text-align: center;
}
.formContainer > span {
	color: #f84040;
}
.formContainer > h4 {
	color: #5ff840;
	font-size: 18px;
	margin: 20px 0 0 0;
	text-align: center;
}
.formContainer > p {
	margin: 0;
	text-align: center;
}
